:root {
  --branco: #fff;
  --cinza: #efefef;
  --fire: #ffb28f;
  --grass: #ccff99;
  --poison: #d8bfd8;
  --flying: #c6d8f0;
  --water: #c4f9ff;
  --bug: #aff8d8;
  --electric: #fff2a7;
  --ground: #f4d5c0;
  --fairy: #f3aacb;
  --fighting: #ffadbb;
  --psychic: #ff8ad2;
  --rock: #cfcfc4;
  --steel: #708090;
  --ghost: #b19cd9;
  --normal: #f2dcd1;
  --ice: #c9f1ff;
  --primary-color: #262835;
  --secondary-color: #ff5473;
}
